@{
	ViewData["Title"] = "Login";
}
@{
	ViewBag.ExibirNavbar = false;
}

<body>
	<main class="login-container">
		<div class="login-central">
			<div class="login-box">
				<div class="login-image">
					<img src="~/assets/img/dinossauro-verde.png" alt="Raptor">
				</div>
				<div class="login-form">
					<h2>Entrar</h2>
					<form>
						<input type="email" placeholder="E-mail" required>
						<input type="password" placeholder="Senha" required>

						<div class="options">
							<label>
								<input type="checkbox">
								<span>Lembrar de mim</span>
							</label>
							<a href="#">esqueceu a senha?</a>
						</div>
						<button type="submit" class="btn btn-primary">Login</button>
					</form>
				</div>
			</div>
		</div>
	</main>
</body>


